@media(max-width: 1200px) {
    .service {
        flex-direction: column;
    }

   .service-slider,
   .service-block {
       width: 100%;
   }

   .service-block {
       align-items: center;
       text-align: center;
   }

   .service-item p {
       text-align: left;
   }

   .slide img {
       object-fit: cover;
   }

   .fav-img {
    height: 80%;
    width: 30%;
    margin-right: 30px;
   }

   .more {
       margin-top: 100px;
   }

}



@media(max-width: 1000px) {
    header .container {
        flex-direction: column;
        padding-top: 15px;
    }
    nav {
        margin-top: 40px;
        width: 100%;
    }

    nav li {
        flex-grow: 1;
        
    }

    nav a {
        padding: 56px 0;
        text-align: center;
    }

    .home {
        min-height: auto;
        padding: 40px 0;
        margin-top: 20px;
    }

    .fav-container {
        flex-direction: column;
    }

    .fav-items {
        width: 100%;
    }

    .fav-text {
        width: 100%;
    }

    .tours-container a {
        flex: 0 32%;
    }

    .tours-container {
        margin: 0 auto;
    }

    .section-title {
        margin-bottom: 130px;
    }
}


@media(max-width: 800px) {
    nav ul {
        flex-direction: column;
        display: none;
    }

    nav a {
        padding: 20px 0;
        background: var(--green);
        color: var(--white);
        border-top: 2px solid var(--white);
    }

    nav a:hover {
        background: rgba(86, 196, 90, 0.6);
        color: var(--gray);
    }

    .mini-menu {
        display: block;
        background: var(--green);
        width: 100%;
        padding: 20px 0;
        border: none;
        cursor: pointer;
        color: var(--white);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
        outline: none;
    }

    .home-title {
        font-size: 50px;
    }

    header .container {
        padding-left: 0;
        padding-right: 0;
    }

    .service-item {
        width: 100%;
    }

    .tours-container a {
        flex: 0 49%;
    }

    .tours-container {
        margin: 0 auto;
    }


    .section-title {
        margin-bottom: 130px;
    }

    .contacts-container {
        flex-direction: column;
    }

    .contacts-info,
    .contact-form {
        width: 100%;
    }



}



@media(max-width: 600px) {
    .fav-items {
        flex-direction: column;
    }

   .fav-img {
       width: 100%;
   }

   .fav-text {
       text-align: center;
       align-items: center; 
   }

   .fav-text p {
       text-align: center;
       align-items: center; 
       margin: 0 auto;
   }

   .service-slider {
       height: 280px;
   }

   .slide img {
      object-fit: cover;
      width: 100%;
   }

   .slide img {
      filter: blur(3px);
   }

   .slick-center img{
      filter: blur(0);
   }

   .tours-container a {
        flex: 0 100%;
    }

    .tours-container {
        margin: 0 auto;
    }

    .section-title {
        margin-bottom: 130px;
    }

    .footer-logo {
        align-items: center;
    }
   
}